:host {
  display: grid;
}

.main-area {
  display: grid;
  grid-template: auto 1fr 200px / 1fr;
}

.caption-area {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.desc-area {
}

.poster-area {
}
