<div *ngIf="question$ | async as current" class="data-area">
  <div class="question-title">{{ current.caption }}</div>
  <ul>
    <li
      *ngFor="let item of current.answers; let i = index"
      (click)="selectAnswer(current, i)"
    >
      {{ item }}
    </li>
  </ul>
</div>

<div *ngIf="isLastQuestion$ | async">
  <app-quiz-end></app-quiz-end>
  {{ question$ | async | json }} {{ isLastQuestion$ | async | json }}
</div>

<app-spinner
  [isVisible]="!(question$ | async) && !(isLastQuestion$ | async)"
></app-spinner>
